@import "fonts"
@import "vars"
@import "mixins/mixins"
@import "mixins/mixin"
html
	body
		font-size: 16px
		min-width: 320px
		position: relative
		line-height: 1.75
		font-family: $default-font
		overflow-x: hidden
		letter-spacing: .025rem
.top
	background-color: $main-color
	position: fixed
	width: 100%
.mm-navbar
	img
		height: .90em
#my-menu.mm-menu.mm-theme-black .mm-navbar a, .mm-menu.mm-theme-black .mm-navbar>*, .mm-menu.mm-theme-black em.mm-counter
	color: rgba(255,255,255,1)
#my-menu.mm-listview, .mm-listview>li
	transition: all .25s ease
	overflow: hidden
	color: $white
	&.active
		background-color: lighten($main-color, 20%)
		color: darken($main-color, 20%)
	&:hover
		background-color: lighten($main-color, 20%)
		color: darken($main-color, 20%)
#my-menu.mm-menu.mm-theme-black
	background-color: darken($main-color, 20%)
.Logo
	line-height: 62px
	color: $white
	font-size: 18px
	margin: 
		left: 40px
		right: 40px
	.fa
		+margin(20px, right-left)

	
